<!DOCTYPE html>
<html>
        <head>
            <title>Django Girls blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">Django Girls Blog</a></h1>
            </div>

            <div>
                <p>published: 06.01.2017, 01:14</p>
                <h2><a href="">Какая то хрень номер 1</a></h2>
                <p>Если бы я знал, что это будет так сложно, остановился бы я?
				Возможно что трудности даются, чтобы стать сильнее. Но возможно это указание, что нужно притормозить, оглядеться и выбрать правильный путь.

				Пока что я нахожусь на этапе "стать сильнее"</p>
            </div>

            <div>
                <p>published: 06.01.2017, 01:18</p>
                <h2><a href="">Какая то хрень номер 2</a></h2>
                <p>Чтобы проанализировать действия субъекта, нам необходимо больше данных.
				В ходе эмпирических исследований, найти ответ на поставленную задачу не удалось.

				День 7:
				Объект не проявляет признаков интеллекта и просто жуёт траву.</p>
            </div>
        </body>
    </html>